<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  
  <%= render 'layouts/header' %>
  
  <p class='notice'><%= notice %></p>
  <p class='alert'><%= alert %>
    
  <%= render 'layouts/navigation' %>
    
    <section class='sidebar' id='right'>
      <% if member_signed_in? %>
      Signed in as <%= current_member.email %>:
        <%= link_to 'Sign Out', destroy_member_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Sign Up', new_member_resgistration_path %> or <%= link_to 'Sign In', new_member_session_path%>
      <% end %>
    </section>
  
<%= yield %>
  <%= render 'layouts/footer' %>

</body>
</html>
